In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests
import time

In [2]:
### Windows ###
# executable_path = {"executable_path": "/Users/connor.roemelt/Downloads/chromedriver"}
# browser = Browser("chrome", **executable_path, headless=False)

In [3]:
### Mac ###
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

## NASA Mars News

In [4]:
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)
html = browser.html
soup = bs(html, 'html.parser')

In [5]:
news_title = soup.find_all('div', class_='content_title')[1].get_text()
news_p = soup.find('div', class_='article_teaser_body').get_text()
print(news_title)
print(news_p)

Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover
NASA chose a seventh-grader from Virginia as winner of the agency's "Name the Rover" essay contest. Alexander Mather's entry for "Perseverance" was voted tops among 28,000 entries.

JPL Mars Space Images - Featured Image

In [6]:
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)
html = browser.html
soup = bs(html, 'html.parser')

In [7]:
pic = soup.find('img', class_='thumb').get('src')
pic_url = f'https://www.jpl.nasa.gov{pic}'
print(pic_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23745-640x350.jpg

## Mars Weather

In [8]:
twitter_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(twitter_url)
time.sleep(3)
html = browser.html
soup = bs(html, 'html.parser')

In [9]:
response = requests.get(twitter_url)
response

In [10]:
mars_weather = soup.find("div", class_="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0")

print(mars_weather)

None

## Mars Facts (w/ Pandas)

In [11]:
# Import Pandas 
import pandas as pd

In [12]:
facts_url = 'https://space-facts.com/mars/'
browser.visit(facts_url)
html = browser.html
soup = bs(html, 'html.parser')

In [13]:
facts_table = pd.read_html(facts_url)
mars_facts = facts_table[0]
mars_facts.columns=['Description', 'Value']
mars_facts.set_index("Description", inplace=True)
mars_facts

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [14]:
mars_html = mars_facts.to_html()
print(mars_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Value</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

## Mars Hemispheres

In [15]:
hemisphere_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemisphere_url)
html = browser.html
soup = bs(html, 'html.parser')

In [16]:
hemisphere_image_urls = []

page_list = soup.find('div', class_='result-list')
pictures = page_list.find_all('div',class_='item')

for picture in pictures:
    title = picture.find("h3").text
    title = title.replace("Enhanced", "")
    end_link = picture.find("a")["href"]
    image_link = "https://astrogeology.usgs.gov/" + end_link    
    browser.visit(image_link)
    html = browser.html
    soup=bs(html, "html.parser")
    downloads = soup.find("div", class_="downloads")
    image_url = downloads.find("a")["href"]
    hemisphere_image_urls.append({"title": title, "img_url": image_url})

In [17]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]